* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 200px;
    margin: auto;
}

main {
    border: 3px solid green;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    padding: 15px;
}

.create_area {
    display: flex;
    flex-direction: column;
}

.title_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title_div {
    display: flex;
    flex-direction: column;
}

.title_div span {
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0;
}

.title_div input {
    font-size: 25px;
    border-radius: 7px;
    padding: 3px;
    padding-left: 10px;
}

.add_button {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.categories_and_priority {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
    gap: 10px;
}

.categories_and_priority select {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
}

.title_top {
    margin-bottom: 10px;
}

.list_area {
    display: flex;
    flex-direction: column;
}

.filters_area {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filters_area button {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    width: 15%;
}

/* For js*/
.task {
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}